@import url(../hw2/nullstyle.css);

body{
    background-color:#e2e7ec;
}
.container {
    width:1140px;
    margin:0 auto;
}
.wrap{
    display:flex;
    flex-wrap: wrap;
}
.block {
    width:360px;
    height:540px;
    margin: 10px 10px 10px 10px;
    background-color:white;
}
.block:first-child {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../hw2/img/background_car.png');
    /* background-image: url(../hw2/img/background_car.png); */
    background-repeat: no-repeat;
    width:740px; 
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    
}
.block__date1{
    color: #818181;
    font-family:'HansKendrick-Regular';
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.33px;
    padding:0 0 10px 46px;
}
.block__info1{
    color: #ffffff;
    font-family: 'HansKendrick-Regular';
    font-size: 30px;
    line-height: 36px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    padding:13px 264px 40px 43px;

}
.content{
    width:319px;
    height:238px;
    margin: 28px 13px 25px 28px;
    display:flex;
    flex-direction:column;
}
.block:nth-child(4) .block__info{
    padding: 40px 0 53px 0;
}
.block__date {
    color: #818181;
    font-family:'HansKendrick-Regular';
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.33px;
}
.block__info {
    color: #1d1d1d;
    font-family: 'HansKendrick-Regular';
    font-size: 22px;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.55px;
    padding: 10px 0 53px 0;
}

.block__icon{
    width:54px;
    height:54px;
}
.footer{
    display:flex;
    justify-content: center;
    align-items:center;
    padding:80px 0;
}

.footer__img{
    padding: 0 5px;
}

.footer__text{
    color: #4e5153;
    font-family: 'HansKendrick-Regular';
    font-size: 13px;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.33px;

}
@font-face {
    font-family: 'HansKendrick-Regular';
    src: url("../hw2/fonts/HansKendrick-Regular.otf") format("opentype");
    }